/* Font things */

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* General styles */

* {
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  color: rgb(51, 51, 51);
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  margin: 0 auto;
  padding: 0;
}

h1, h2, h3, h4 {
  margin: 0;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

.read-more {
  background-color: #4637B7;
}

.read-more-link {
  font-size: 0.875em;
  color: white;
  margin: auto;
  text-decoration: none;
  text-transform: uppercase;
}

.menu {
  background-color: transparent;
  border: 0;
  font-family: inherit;
  font-size: 0.875em;
  text-transform: uppercase;
}

.nav-buttons a {
  display: block;
}

.image {
  background-image: url(../img/flamingo.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 80vw;
  min-height: 20vh;
}

.external-links {
  max-width: 50px;
}

.external-links a {
  font-size: 0.875em;
  margin: 2em 0;
  color: #F19C91;
  text-decoration: none;
}

.classification {
  padding: 2rem 0;
}

.show-all {
  background-color: #ffb843;
}

.number {
  font-size: 6em;
  font-weight: 600;
  margin: 0;
}

/* Grid things */

main {
  display: grid;
  grid-template-rows: repeat(6, auto);
  grid-template-columns: 80px repeat(7, 1fr);
  /*height: 100vh;*/
}

h2 {
  grid-column: 2 / 4;
  grid-row: 1 / 1;
}

.read-more {
  grid-column: 6 / 7;
  grid-row: 1 / 4;
  writing-mode: vertical-lr;
  display: flex;
}

nav {
  grid-column: 8 / 9;
  grid-row: 1 / 1;
  align-self: center;
}

h3 {
  grid-column: 2 / 6;
  grid-row: 2 / 2;
}

.descriptive-text {
  grid-column: 2 / 6;
  grid-row: 3 / 4;
}

.nav-buttons {
  grid-column: 8 / 9;
  grid-row: 2 / 4;
  align-self: center;
}

h1 {
  grid-column: 2 / 6;
  grid-row: 4 / 4;
  z-index: 2;
  align-self: center;
  font-size: 8em;
  color: white;
}

.image {
  grid-column: 1 / 8;
  grid-row: 4 / 5;
}

.external-links {
  grid-column: 8 / 9;
  grid-row: 4 /5;
  writing-mode: vertical-lr;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.classification {
  grid-row: 5 /6;
}

.kingdom {
  grid-column: 2 / 3;
}

.phylum {
  grid-column: 3 / 4;
}

.class {
  grid-column: 4 / 5;
}

.rank {
  grid-column: 5 / 6;
}

.show-all {
  grid-column: 6 / 7;
  grid-row: 5 /8;
  display: flex;
  writing-mode: vertical-lr;
}

.number {
  align-items: center;
  display: flex;
  grid-column: 8 / 9;
  grid-row: 5 /6;
}