/* Font things */

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* General styles */

* {
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  color: rgb(51, 51, 51);
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  margin: 0 auto;
  padding: 0;
}

h1, h2, h3, h4 {
  margin: 0;
}

h1 {
  font-size: 8em;
  color: white;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

.read-more {
  background-color: #4637B7;
}

.read-more-link {
  font-size: 0.875em;
  color: white;
  margin: auto;
  text-decoration: none;
  text-transform: uppercase;
}

.menu {
  background-color: transparent;
  border: 0;
  font-family: inherit;
  font-size: 0.875em;
  text-transform: uppercase;
}

.nav-buttons a {
  display: block;
}

.image {
  background-image: url(../img/flamingo.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 80vw;
  min-height: 20vh;
}

.external-links {
  max-width: 50px;
}

.external-links a {
  font-size: 0.875em;
  margin: 2em 0;
  color: #F19C91;
  text-decoration: none;
}

.classification {
  padding: 2rem 0;
}

.show-all {
  background-color: #ffb843;
}

.number {
  font-size: 6em;
  font-weight: 600;
  margin: 0;
}

/* Grid things */

main {

}

h2 {

}

.read-more {

}

nav {

}

h3 {

}

.descriptive-text {

}

.nav-buttons {

}

h1 {

}

.image {

}

.external-links {

}

.classification {

}

.kingdom {

}

.phylum {

}

.designation {

}

.rank {

}

.show-all {

}

.number {

}